<mat-card>
  <div class="center">
    <form #userForm="ngForm" (ngSubmit)="save(userForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{user.name ? 'Edit' : 'Add'}} User</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>

          <mat-list-item>
            <input type="hidden" name="href" [(ngModel)]="user.href">
            <mat-form-field>
              <input matInput placeholder="First name" [(ngModel)]="user.firstName"
                     required name="firstName" #firstName>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Last name" [(ngModel)]="user.lastName"
                     required name="lastName" #lastName>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Date of Birth (yyyy-MM-dd)" [(ngModel)]="user.dateOfBirth"
                     name="dateOfBirth" #dateOfBirth>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="user.email"
                     name="email" #email>
              <mat-error *ngIf="emailFormControl.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Phone" [(ngModel)]="user.phone"
                     name="phone" #phone>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Fax" [(ngModel)]="user.fax"
                     name="fax" #fax>
            </mat-form-field>
          </mat-list-item>

        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!userForm.form.valid">Save
        </button>
        <button mat-raised-button color="secondary" (click)="remove(user.href)"
                *ngIf="user.href" type="button">Delete
        </button>
        <a mat-button routerLink="/user-list">Cancel</a>
      </mat-card-actions>
      <mat-card-footer>
        <div class="giphy">
          <img src="{{user.giphyUrl}}" alt="{{user.name}}">
        </div>
      </mat-card-footer>
    </form>
  </div>
</mat-card>
