<mat-card>
  <mat-card-content class="center">
    <div>
      <p>To continue working, you need to register a user.</p>
      <button mat-raised-button color="primary" style="width:100%"[routerLink]="['/user-add']">Register</button>
    </div>
  </mat-card-content>

</mat-card>
