<mat-card>
  <div class="center">
    <mat-card-header>User List</mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let u of users">
          <img mat-list-avatar src="{{u.giphyUrl}}" alt="{{u.name}}"><br>
          <h3 mat-line>
            <a mat-button [routerLink]="['/user-edit', u.id]">{{u.name}}</a>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <button mat-raised-button color="primary" [routerLink]="['/user-add']">Add</button>
  </div>
</mat-card>
